$sprite_factory                                   =
  
$shape_factory                                    = box2d_shape

@$shape_scripts                                   = 
f32 shape_mass                                    = 68.0
f32 shape_radius                                  = 7.5
f32 shape_friction                                = 0.07
f32 shape_elasticity                              = 0.0
f32 shape_buoyancy                                = 0.6
f32 shape_drag                                    = 0.1
bool shape_collides                               = yes
bool shape_ladder                                 = no
bool shape_platform                               = no
 #block_collider
@f32 verticesXY                                   = 
u8 block_support                                  = 0
bool block_background                             = no
bool block_lightpasses                            = no
bool block_snaptogrid                             = no

$movement_factory                                 =

$brain_factory                                    =

$attachment_factory                               =

$inventory_factory                                =

# general

$name                                             = swap
@$scripts                                         = Swap.as;
f32 health                                        = 100
# looks & behaviour inside inventory
$inventory_name                                   = 
$inventory_icon                                   = MigrantMale.png
u8 inventory_icon_frame                           = 3
u8 inventory_icon_frame_width                     = 32
u8 inventory_icon_frame_height                    = 32
u8 inventory_used_width                           = 3
u8 inventory_used_height                          = 2
u8 inventory_max_stacks                           = 0
